@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,500,600,700");
.r_main_section {
  position: relative;
  width: 100%;
  background: #E4E5E6;
  padding: 80px; }

.results_content {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.results_content img {
  height: 167.33px; }

.new_title {
  position: relative;
  width: 100%;
  height: 80px;
  font-family: "Oswald", sans-serif;
  color: #646B69;
  font-size: 40px;
  margin-bottom: 50px; }

.puzzle-container {
  white-space: nowrap;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
  color: #646B69;
  margin: 0 50px 50px 0px; }
  .puzzle-container a {
    text-decoration: none; }

.name_style {
  font-family: "Source Sans Pro", sans-serif;
  color: #5EAC57;
  font-weight: 700; }
  .name_style a {
    text-decoration: none; }

.price_box {
  display: flex; }

.op {
  text-decoration: line-through;
  color: #A7A4A4;
  margin-right: 10px; }
