@import '../../_sassVars.scss';

.main_section {
    position: relative;
    width: 100%;
    height: 200vh;
    background: $mainBackgroundColor;
    padding: 80px;
}

.results_content {
    position: relative;
    width: 100%;
    height: 300px;
    padding: 30px 0px; 
    display: flex;
    flex-wrap: wrap;
}

.results_content img {
    height: 167.33px;
    // max-width: 200px;
}

.puzzle-container {
    // width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $secondaryFontFamily;
    color: $darkColor;
    margin: 0 50px 50px 0px;
    a {
        text-decoration: none;
    }
}

.name_style {
    font-family: $mainFontFamily;
    color: $mainColor;
    font-weight: 700;
}