@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,500,600,700");
.p_main_section {
  position: relative;
  width: 100%;
  background: #E4E5E6;
  padding: 80px; }

.white_container {
  background: white; }

.product_content {
  position: relative;
  padding: 30px 50px; }

.product_puzzle-container {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  font-family: "Source Sans Pro", sans-serif;
  color: #646B69;
  margin: 72px 60px; }
  .product_puzzle-container a {
    text-decoration: none; }
  .product_puzzle-container img {
    width: 500px; }

.product_info {
  display: flex;
  flex-direction: column; }

.product_info_top {
  margin-left: 72px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.product_info_bottom {
  margin-left: 72px;
  margin-top: 10px;
  display: flex;
  flex-direction: column; }

.bold {
  font-weight: 700;
  line-height: 30px; }

.product_name_style {
  color: #5EAC57;
  font-size: 30px;
  font-weight: 700; }
  .product_name_style a {
    text-decoration: none; }

.product_brand_style {
  font-family: "Oswald", sans-serif;
  font-size: 18px; }

.product_price_style {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: -5px 0 15px 0; }

.description {
  margin-top: 40px;
  width: 100%;
  word-break: normal;
  white-space: normal;
  line-height: 24px;
  border-bottom: 1px solid #5EAC57;
  padding-bottom: 50px; }

.quantity_container {
  margin-top: 50px; }

.quantity {
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; }
  .quantity button {
    width: 25px;
    height: 25px;
    border: 1px solid #646B69;
    border-radius: 6px;
    background: white;
    color: #646B69; }

.addtocart_btn {
  background: #5EAC57;
  color: white;
  border-radius: 25px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  border: none;
  padding: 10px 20px;
  box-shadow: 2px 2px 8px #646B69;
  margin-top: 40px;
  width: 150px; }
