@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,500,600,700");
* {
  box-sizing: border-box; }

.main_section {
  position: relative;
  width: 100%;
  height: 221vh;
  background: #E4E5E6;
  padding: 80px; }

.hello {
  position: absolute;
  top: 180px;
  left: 100px; }
  .hello img {
    width: 300px; }

.new_puzzles {
  position: absolute;
  right: 80px;
  width: 60vw;
  height: 380px;
  background: white; }

.title {
  position: relative;
  width: 100%;
  height: 80px;
  background: #646B69;
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 40px;
  padding: 19px 50px; }

.title a {
  text-decoration: none;
  color: white; }

.title a:hover {
  color: #5EAC57; }

.new_content {
  position: relative;
  height: 300px;
  padding: 30px 50px;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll; }

.new_content img {
  height: 167.33px; }

.sale_puzzles {
  position: absolute;
  top: 540px;
  left: 80px;
  width: 60vw;
  height: 380px;
  background: white; }

.sale_content {
  position: relative;
  height: 300px;
  padding: 30px 50px;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll; }

.sale_content img {
  height: 167.33px; }

.accessories {
  position: absolute;
  top: 540px;
  right: 80px;
  width: 23vw;
  height: 380px;
  background: white; }

.accessory_content {
  position: relative;
  height: 300px;
  padding: 30px 0px 30px 50px;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll; }

.accessory_content img {
  height: 167.33px; }

.acc_title {
  position: relative;
  width: 100%;
  height: 80px;
  background: #646B69;
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 40px;
  padding: 19px 0px;
  text-align: center; }

.acc_title a {
  text-decoration: none;
  color: white; }

.acc_title a:hover {
  color: #5EAC57; }

.puzzle-container {
  white-space: nowrap;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
  color: #646B69; }
  .puzzle-container a {
    text-decoration: none; }

.accessory-container {
  width: 247px;
  white-space: nowrap;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
  color: #646B69; }
  .accessory-container a {
    text-decoration: none; }

.gallery {
  position: absolute;
  top: 1000px;
  left: 80px;
  right: 80px;
  height: 500px;
  background: white;
  margin: 0 0 80px 0; }

.name_style {
  font-family: "Source Sans Pro", sans-serif;
  color: #5EAC57;
  font-weight: 700; }
  .name_style a {
    text-decoration: none; }
